body {
	background-image: url(img/backgroundheader.png);
}

header, footer {
	background-image: url(img/backgroundmain.png);
	padding: 10px;
}

main {
    width: 90%;
    margin: auto;
}

.avatar {
	float: left;
	width: 25%;
	border-radius: 99px;
	margin-top: 10px;
	margin-left: 10px;
}

.conteneur {
	margin: 15px;
	padding: 10px;
}

.colonne {
    width: 30%;
    display: inline-block;
   	vertical-align: top;
}

ul, li {
    list-style-type:none;
}

footer {
   	bottom: 0;
}

footer p{
    text-align: center;
    width: 30%;
    display: inline-block;
    margin-left: 30px;
}

iframe{
    display:inline-block;
    vertical-align:top;
}